@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 15px;
  
}

body {
  background-color: #fff !important;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  font-weight: 100;
  padding-top: env(safe-area-inset-top);
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* .thumb-slide {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.thumb-slide.swiper-slide-thumb-active {
  opacity: 1;
}
.card-vacancies-img {
  background-image: url("../../public/Images/vacancies-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.company-overview-bg {
  background-image: url("../../public/Images/company-about-card-bg.png");
  background-size: ;
  background-position: right;
  background-repeat: no-repeat;
}
.shutter-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.shutter-effect {
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
  transition: all 0.7s ease-in-out;
  opacity: 0.8;
}

.swiper-slide-active .shutter-effect {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  opacity: 1;
} */
.pageDefaultPagination a {
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  border: 1.31px solid transparent;
  font-size: 1.125rem;
  text-align: center;
}
.pageDefaultPaginationActive a {
  border-color: #f37325;
  color: #f37325;
}
.pagination-prev,
.pagination-next {
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
}


.line-clamp-10 {
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-20 {
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bgi{
  background-image : url("/images/stanvoyage/footerBG.png");
  z-index: -20;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px; 

}
.homebg{
  background-image: url("/images/stanvoyage/homeCom.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.locale{
  background-image: url("/images/stanvoyage/local.png");
  background-position: right;
  background-repeat: no-repeat;
}
